name: Upload to App Store

on:
  workflow_dispatch:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: macos-14

    steps:
      - uses: actions/checkout@v4

      - name: Setup Xcode
        uses: maxim-lobanov/setup-xcode@v1
        with:
          xcode-version: '16.2'

      - name: Create keychain
        run: |
          security create-keychain -p "805238" build.keychain
          security set-keychain-settings -lut 7200 build.keychain
          security unlock-keychain -p "805238" build.keychain
          security list-keychains -s build.keychain

      - name: Import certificate
        run: |
          echo "$CERTIFICATE_BASE64" | base64 --decode > cert.p12
          security import cert.p12 -k build.keychain -P "$CERTIFICATE_PASSWORD" -T /usr/bin/codesign
          security set-key-partition-list -S apple-tool:,apple: -s -k "805238" build.keychain
          security default-keychain -s build.keychain
        env:
          CERTIFICATE_BASE64: ${{ secrets.CERTIFICATE_BASE64 }}
          CERTIFICATE_PASSWORD: ${{ secrets.CERTIFICATE_PASSWORD }}

      - name: Import provisioning profile
        run: |
          echo "$PROVISIONING_PROFILE_BASE64" | base64 --decode > profile.mobileprovision
          mkdir -p ~/Library/MobileDevice/Provisioning\ Profiles
          cp profile.mobileprovision ~/Library/MobileDevice/Provisioning\ Profiles/Chimie.mobileprovision
        env:
          PROVISIONING_PROFILE_BASE64: ${{ secrets.PROVISIONING_PROFILE_BASE64 }}

      - name: Build archive
        run: |
          mkdir -p build
          xcodebuild -project Chimie.xcodeproj \
          -scheme Chimie \
          -configuration Release \
          -archivePath build/Chimie.xcarchive \
          CODE_SIGN_STYLE=Manual \
          CODE_SIGN_IDENTITY="iPhone Distribution" \
          archive
          
      - name: Check archive
        run: ls -l $PWD/build
        
      - name: Export IPA
        run: |
          xcodebuild -exportArchive \
          -archivePath build/Chimie.xcarchive \
          -exportOptionsPlist ExportOptions.plist \
          -exportPath build

      - name: Upload to App Store
        uses: actions/upload-artifact@v4
        with:
          name: ChimieIPA
          path: build/*.ipa
